body {
    font-family: 'Montserrat';
    font-size: 22px;
    background: linear-gradient(to bottom, #0a2355, #536587);
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    border-bottom: 2px solid #ddd;
    padding: 4px 1px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar a {
    text-decoration: none;
    color: #eee;
    margin-right: 10px;
    padding: 5px 10px;
    border: 1px solid #ddd;
    border-radius: 7px;
    background-color: #1a202c;
}

.navbar a:hover {
    cursor: pointer;
    background-color: #5f5026;
}

.footer {
    border-top: 2px solid #ddd;
    margin-top: auto;
    background-color: transparent;
    color: #eee;
    padding: 20px;
    text-align: center;
}

.social-icons a {
    color: #eee;
    text-decoration: none;
    margin: 0 5px;
}

.social-icons a:hover {
    color: #d93535;
}

.dropdown-menu.show {
    background: transparent;
}