{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto custom-card">
            <div class="card">
                <div class="card-body">
                <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <h1>Update profile</h1>
                        <hr>
                        <div class="form-group">
                            <label for="id_bio">Bio:</label>
                            <textarea class="form-control {% if form.bio.errors %} is-invalid {% endif %}" id="id_bio" name="bio">{{ form.bio.value }}</textarea>
                            {% for error in form.bio.errors %}
                                <div class="invalid-feedback">{{ error }}</div>
                            {% endfor %}
                        </div>
                        <div class="form-group">
                            <label for="id_profile_picture">Profile Picture:</label>
                            <input type="file" class="form-control-file {% if form.profile_picture.errors %} is-invalid {% endif %}" id="id_profile_picture" name="profile_picture">
                            {% for error in form.profile_picture.errors %}
                                <div class="invalid-feedback">{{ error }}</div>
                            {% endfor %}
                        </div>
                        <div class="form-group">
                            <label for="id_phone">Phone:</label>
                            <input type="text" class="form-control {% if form.phone.errors %} is-invalid {% endif %}" id="id_phone" name="phone">
                            {% for error in form.phone.errors %}
                                <div class="invalid-feedback">{{ error }}</div>
                            {% endfor %}
                        </div>
                        <div class="form-group">
                            <label for="id_full_name">Full Name:</label>
                            <input type="text" class="form-control {% if form.full_name.errors %} is-invalid {% endif %}" id="id_full_name" name="full_name">
                            {% for error in form.full_name.errors %}
                                <div class="invalid-feedback">{{ error }}</div>
                            {% endfor %}
                        </div>
                        <div class="form-group">
                            <label for="id_address">Address:</label>
                            <input type="text" class="form-control {% if form.address.errors %} is-invalid {% endif %}" id="id_address" name="address">
                            {% for error in form.address.errors %}
                                <div class="invalid-feedback">{{ error }}</div>
                            {% endfor %}
                        </div>
                        <button type="submit" class="btn btn-primary">Save Changes</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

